*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:url("login_image.jpeg") center/cover no-repeat;
    overflow:hidden;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.10);
    display:flex;
    justify-content:center;
    align-items:center;
}

.heading{
    position:absolute;
    top:10px;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
    color:rgb(0, 0, 0);
    z-index:5;
    background:rgba(255, 255, 255);
    padding:10px 20px;
    border-radius:10px;
    outline:1px solid rgba(255, 255, 255, 0.6);
}

.heading h1{
    margin-bottom:5px;
    letter-spacing:2px;
}

.heading h3{
    color:#0d022b;
}

.container{
position:relative;
width:100%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.form-box{
position:relative;
width:420px;
padding:40px;
background:rgba(28, 75, 141, 0.5);
backdrop-filter:blur(18px);
border-radius:20px;
border:1px solid rgba(255,255,255,.2);
color:white;
z-index:2;
animation:fade .8s;
}

@keyframes fade{

from{
opacity:0;
transform:translateY(30px);
}

to{
opacity:1;
transform:translateY(0);
}

}

h2{
text-align:center;
font-size:30px;
margin-bottom:10px;
}

p{
text-align:center;
margin-bottom:25px;
color:#ddd;
}

.input-box{
position:relative;
margin-bottom:20px;
}

.input-box input{
width:100%;
padding:14px 45px;
border:none;
outline:none;
border-radius:12px;
background:rgba(255,255,255,.2);
color:white;
font-size:16px;
}

.input-box input::placeholder{
color:#eee;
}

.input-box i{
position:absolute;
left:15px;
top:15px;
}

.togglePassword{
position:absolute;
right:15px;
top:15px;
cursor:pointer;
}

.options{
display:flex;
justify-content:space-between;
margin-bottom:20px;
font-size:14px;
}

.options a{
color:#fff;
text-decoration:none;
}

button{
width:100%;
padding:14px;
border:none;
border-radius:12px;
background:#00bcd4;
color:white;
font-size:18px;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#0097a7;
}

.switch{
margin-top:20px;
text-align:center;
}

.switch a{
color:#00e5ff;
text-decoration:none;
font-weight:bold;
}

.hidden{
display:none;
}

@media(max-width:500px){

.form-box{
width:90%;
padding:30px;
}

}